/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, a {
	display: block;
}
body {
	line-height: 1;
	background-color: gainsboro;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border: 0;
	padding: 0;
}

.blind {
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.swiper-container {
	overflow: hidden;
	position: relative;
	max-width: 1100px;
	height: 400px;
	margin: 0 auto;
}
.swiper-wrapper .indicator {
	position: absolute;
	left: 50%;
	bottom: 10px;
	z-index: 1000;
	width: 75%;
	transform: translateX(-50%);
}
.swiper-wrapper .prev,
.swiper-wrapper .next {
	position: absolute;
	top: 50%;
	left: 5%;
	width: 90px;
	height: 90px;
	background: url(./arr_prev.png) no-repeat 0 0;
	transform: translateY(-50%);
}
.swiper-wrapper .next {
	left: inherit;
	right: 5%;
	background-image: url(./arr_next.png);
}
.swiper-wrapper .indicator button {
	padding: 12px 10px;
	border: 1px solid #ccc;
}
.swiper-wrapper .swiper-slide {
	display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */
    display: -moz-box; /* Firefox 19- */
    display: -ms-flexbox; /* IE10 */
    display: -webkit-flex; /* Chrome */
    display: flex;
	height: 100%;
	transition: transform 0.3s ease;
}
.swiper-wrapper .swiper-slide .item-page {
	-webkit-box-flex: 1; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */
    -moz-box-flex: 1; /* Firefox 19- */
    -ms-flex: 1; /* IE10 */
    -webkit-flex: 1; /* Chrome */
    flex: 1;
}
.img-banner {
	display: block;
	width: 100%;
	height: 100%;
}
.pagination:after {
	display: block;
	clear: both;
	content: '';
}
.item-pagination {
	float: left;
	width: 25%;
}
.item-pagination.active button{
	background-color: #ccc;
}
.item-pagination button {
	width: 100%;
}
.item-pagination:first-child button,
.item-pagination ~ li button {
	border-left: 0;
}
.item-pagination:last-child button {
	border-right: 0;
}